<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sobre mim</title>
    <link href="css/style.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  </head>
  <body class="px-6 md:px-0 mx-auto my-auto items-center max-w-3xl justify-center py-4 lg:py-8 px-4 font-['Anonymous_Pro']">
    <nav class="mb-4 font-light text-xl">
      <a class="mr-2 lg:mr-8 hover:font-semibold" href="/">Home</a>
      <a class="mr-2 lg:mr-8 hover:font-semibold" href="/about">Manifesto</a>
      <a class="mr-2 lg:mr-8 hover:font-semibold" href="/artigos">Artigos</a>
      <a class="mr-2 lg:mr-8 hover:font-semibold" href="/hackerman">Outros</a>
    </nav>
    <div class="mt-6 lg:mt-12">
       <img src="https://d7hftxdivxxvm.cloudfront.net/?height=630&quality=80&resize_to=fill&src=https%3A%2F%2Fartsy-media-uploads.s3.amazonaws.com%2FpuVL-xNOPI_ux2wPsn4PVA%252FWanderer%2Bthumb%2B800.jpg&width=1200" alt="isaque franklin" class="hover:animate-pulse" />
      <h1 class="mt-8 mb-4 text-3xl font-light">Sobre mim</h1>
      <hr>
      <p class="mt-4 italic">“Nós nascemos, crescemos, arrumamos uma profissão, nos casamos, deixamos herdeiros
e morremos no final, e na maioria das vezes sem nenhum propósito definido, sem ter
travado nenhuma batalha épica.
Eu gosto do Cervantes pois todo o cerne do caráter de Dom Quixote é a recusa em aceitar
um mundo sem graça, é a vontade de fazer coisas realmente importantes, de ser
importante. Mesmo que Dom Quixote seja retratado como um doido de pedra, que por
vezes faz mais mal do que bem, ele se recusa a aceitar um mundo cinzento, um mundo
sem propósito, e uma vida frívola.”</p>
      <p class="mt-4">TRECHO RETIRADO DO ARTIGO "A LOUCURA DE DOM QUIXOTE".</p>
    </div>
    <div class="mt-8">
      <hr>
      <h2 class="text-md font-light mt-8">Isaque Franklin 2025.</h2>
    </div>
  </body>
</html>
