<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="css/style.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="mx-auto items-center max-w-2xl justify-center py-4 lg:py-8 px-4">
    <div class="flex my-auto items-center mb-6">
      <img src="https://i.kym-cdn.com/entries/icons/original/000/021/807/ig9OoyenpxqdCQyABmOQBZDI0duHk2QZZmWg2Hxd4ro.jpg" alt="isaque franklin" class="w-24 h-24 rounded-full" />
      <div class="mb-2 mx-4">
         <h1 class="text-3xl font-normal">Isaque Franklin</h1>
         <p class="text-md font-normal italic">Per aspera ad astra.</p>
      </div> 
    </div>
    <hr>
    <div class="mt-4 max-w-2xl mx-auto">
       <p class="text-lg">Desenvolvedor de software, hacker, empreendedor, e graduando em engenharia metalúrgida e de materiais na UFMG.</p>
       <div class="mt-8 mb-8">
        <h2 class="text-xl font-semibold mb-2">Saiba mais sobre mim</h2>
        <ul>
          <li><a class="hover:underline" href="">Github</a></li>
          <li><a class="hover:underline" href="">Linkedin</a></li>
          <li><a class="hover:underline"  href="">Instagram</a></li>
          <li><a class="hover:underline"  class="hover:underline"  href="">Nostr</a></li>
          <li><a class="hover:underline"  href="">Blog pessoal</a></li>
        </ul>
       </div>
       <hr>
       <div class="mt-8">
          <h2 class="text-xl font-semibold mb-4">Alguns dos meus projetos/empresas</h2>
          <div class="grid grid-cols-2 gap-4 mb-8 mt-4">
            <div class="">
            <h2 class="text-lg font-semibold">Horizon Labs</h2>
            <p>Uma agência de desenvolvimento de software terceirizado. Sistemas, IA, cibersegurança e consultoria.</p> 
          </div>
          <div>
            <h2 class="text-lg font-semibold">N54 Company</h2>
            <p>Uma agência de desenvolvimento de software terceirizado. Sistemas, IA, cibersegurança e consultoria.</p> 
          </div>
          <div>
            <h2 class="text-lg font-semibold">N54 Company</h2>
            <p>Uma agência de desenvolvimento de software terceirizado. Sistemas, IA, cibersegurança e consultoria.</p> 
          </div>
          <div>
            <h2 class="text-lg font-semibold">N54 Company</h2>
            <p>Uma agência de desenvolvimento de software terceirizado. Sistemas, IA, cibersegurança e consultoria.</p> 
          </div>
        </div>
      </div>
      <div class="mb-8">
        <img class="hover:animate-pulse" src="https://i.kym-cdn.com/entries/icons/original/000/021/807/ig9OoyenpxqdCQyABmOQBZDI0duHk2QZZmWg2Hxd4ro.jpg" alt="hackerman">
      </div>
      <div>
        <h2 class="text-lg font-semibold">Artigos politicamente incorretos:</h2>
        <ol>
          <li>post 1</li>
        </ol>
      </div>
    </div>
    <div class="mt-8">
      <hr>
      <h2 class="text-md font-light mt-8">Isaque Franklin 2024.</h2>
    </div>
  </body>
</html> 
