<!DOCTYPE html>
<html lang="en">
  {{range .Documents}}
  <head id="documents">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.Title}}</title>
    <link href="css/style.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script> 
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
  </head>
  <body class="px-6 md:px-0 mx-auto my-auto items-center max-w-3xl justify-center py-4 lg:py-8 px-0">
    <nav class="mb-4 font-light text-xl gap-8">
      <a class="mx-2 lg:mx-4 hover:font-semibold" href="/">Home</a>
      <a class="mx-2 lg:mx-4 hover:font-semibold" href="/about">Manifesto</a>
      <a class="mx-2 lg:mx-4 hover:font-semibold" href="/artigos">Artigos</a>
      <a class="mx-2 lg:mx-4 hover:font-semibold" href="">Outros</a>
    </nav>
    <div id="documents" class="mt-6 lg:mt-12">
      <h1 class="text-3xl font-light">{{.Title}}</h1>
      <p class="text-lg font-semibold mt-4">{{.Description}}</p>
      <div class="mt-8" hx-trigger="load" hx-swap="innerHTML">
        {{.Content}}
      </div>
    </div> 
  </body>
  {{end}}
</html> 
